body{
background-color:rgb(0, 0, 0);
}
p.WWE {
    color: red;
}
p.font {
      font-family: cursive; 
}
p.hidden {
    color:black ;
    font-family:sans-serif ;
}
p.White {
    color: white;
}
h2.Olc {
    color: red;
    font-family: cursive;
}
h1.back {
    font-family: fantasy;
    color:rgb(199, 32, 32);
    font-family: monospace;
    border: 1px solid rgb(233, 233, 233) ;
    border-style: dotted;
}